.about-us-container {
  display: flex;
  flex-direction: column; /* Change flex-direction to column */
  align-items: center;
  padding: 30px;
  color: #333;
  font-family: 'Roboto', sans-serif; /* Replace with your preferred font */
}

.text-container {
  width: 100%; /* Occupy full width */
  margin-bottom: 20px; /* Add margin at the bottom */
}

.text-container h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 18px;
  line-height: 1.5;
}

.qr-code-container {
  width: 100%; /* Occupy full width */
  text-align: center; /* Center the QR code */
}

.qr-code-container img {
  width: 150px; /* Adjust QR code size as needed */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.qr-code-container img:hover {
  transform: scale(1.1); /* Enlarge QR code on hover */
}

/* Hover effects for text */
.text-container h2:hover,
.text-container p:hover {
  color: #007bff; /* Change color on hover */
}

/* Additional section styles */
.additional-section {
  background-color: rgb(4, 3, 74);
  display: flex;
  justify-content: space-between;
  margin-top: 20px; 
  border-radius: 35px;
}

.about-us-text,
.about-us-image {
  width: 48%; 
  padding: 20px;
 
}
.about-us-text{
  color: white;
  font-weight: bold;
  margin-bottom: 50px;
}

.about-us-image img {
  width: 30%; /* Make the image fill its container */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(37, 35, 35, 0.15);
}
