.plan {
    .box-container {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
  
      .box {
        position: relative;
        padding: 2rem;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
        background: rgb(123, 105, 105);
  
        .title {
          text-align: center;
          color: black;
          font-size: 1.5rem;
        }
  
        .day {
          text-align: center;
          color: black;
          font-size: 2rem;
        }
  
        .icon {
          display: block;
          margin: 0 auto;
          color: orangered;
          font-size: 3rem;
          padding: 1rem 0;
        }
  
        .list {
          margin: 1rem;
  
          p {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1rem;
            padding: 0.5rem 0;
            color: rgb(204, 199, 199);
          }
        }
  
        .buy-button {
            
              background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
              border: 0;
              border-radius: 12px;
              color: #FFFFFF;
              cursor: pointer;
              display: inline-block;
              font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
              font-size: 16px;
              font-weight: 500;
              line-height: 2.5;
              outline: transparent;
              padding: 0 1rem;
              text-align: center;
              text-decoration: none;
              transition: box-shadow .2s ease-in-out;
              user-select: none;
              -webkit-user-select: none;
              touch-action: manipulation;
              white-space: nowrap;
            }
            
            .button-62:not([disabled]):focus {
              box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
            }
            
            .button-62:not([disabled]):hover {
              box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
            }
        }
  
        .buy-button:hover {
          background-color: #458ca0;
        }

       
      }
    }
  
  
  .bucket-icon {
    display: block;
    margin: 0 auto;
    color: rgb(196, 153, 138);
    font-size: 3rem;
    padding: 1rem 0;
}

button#submit {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  
  button#submit:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  
  button#submit:hover {
    color: #fff;
  }
  
  button#submit:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  button#submit:hover:before {
    top: -30px;
    left: -30px;
  }
  
  button#submit:active:before {
    background: #3a0ca3;
    transition: background 0s;
  }
  